<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.honza.findme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="4" />

    <application
        android:name="cz.honza.findme.FindMeApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
	
 	<receiver android:name="cz.honza.findme.SMSReceiver">
		<intent-filter android:priority="2147483645">
		    <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
		</intent-filter>
 	</receiver>	
		        
        <activity
            android:name="cz.honza.findme.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.honza.findme.AskActivity"
            android:label="@string/ask_settings" />
        <activity
            android:name="cz.honza.findme.ReplyActivity"
            android:label="@string/reply_settings" />
        <activity
            android:name="cz.honza.findme.MyPositionActivity"
            android:label="@string/my_position" />
        <activity
            android:name="cz.honza.findme.ShowPositionActivity"
            android:label="@string/show_position" />
        <activity
            android:name="cz.honza.findme.ShowErrorActivity"
            android:label="@string/error"
            />
        <activity
            android:name="cz.honza.findme.ConfirmSMSActivity"
            android:label="@string/really_send_sms" />
        <activity
            android:name="cz.honza.findme.SettingsActivity"
            android:label="@string/settings" />
         <activity
            android:name="cz.honza.findme.FakeSMSActivity"
            android:label="@string/fake_sms" />
    </application>

</manifest>
